        <footer class="bg-burgundy text-coral  py-24 ">
            <div class="flex max-w-minmax-w-screen-2xl mx-auto   xl:pr-32 ">
                <div class="w-1/2 pl-16">
                    <p class="text-4xl">
                        Make an enquiry
                    </p>
                    <div class="mt-12 flex space-x-12">
                        <div class="pb-2 border-coral border-b flex items-center">
                            <p>Online enquiry </p>
                            <img class="pl-8" src="/assets/images/polygon.svg" alt="">
                        </div>
                        <div class="pb-2 border-coral border-b flex items-center">
                            <p> Call 8000 0000 </p>
                            <img class="pl-8" src="/assets/images/polygon.svg" alt="">
                        </div>

                    </div>
                </div>
                <div class="w-1/2 -ml-8 ">
                    <div class="grid grid-cols-3 gap-8">
                        <div class="px-2">
                            <p> Contact Details</p>
                            <p class="mt-6 text-xs">
                                {{ mainOffice.address }}
                            </p>
                            <span>
                                <a href="tel:{{ mainOffice.phone }}"class="mt-6 text-xs">
                                tel:{{ mainOffice.phone }}
                                </a>
                            </span>
                        </div>
                        <div class="px-2">
                            <p>Accreditation</p>
                            <div class="flex gap-2 mt-6 transform scale-75 origin-left mx-auto">
                                <img src="/assets/images/xero.png" alt="">
                                <img src="/assets/images/ca.png" alt="">
                            </div>
                        </div>
                        <div class="px-2">
                            <p>Site Map</p>
                            <p class="mt-6 text-xs">
                                ©Equipe Advisory 2021 Website by Simple
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </footer>